<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Confirmar Presença</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Confirmar Presença</h1>
        <form action="/confirmarPresenca" method="POST" onsubmit="return validarPresenca()">
            <!-- Campo oculto para enviar o ID da turma -->
            <input type="hidden" name="idTurma" th:value="${idTurma}" />
            
            <label for="dataPresenca">Data:</label>
            <input type="date" id="dataPresenca" name="dataPresenca" required>

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Presença</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iteração sobre os alunos para exibi-los na tabela -->
                    <tr th:each="aluno : ${alunos}">
                        <td th:text="${aluno.nome}">Nome</td>
                        <!-- Adicionando radio buttons para selecionar a presença -->
                        <td>
                            <input type="radio" name="situacao" class="radio" value="presente">
                            <label for="presente">Presente</label>
                            <input type="radio" name="situacao" class="radio" value="ausente">
                            <label for="ausente">Ausente</label>
                            <!-- Adicione um campo oculto para enviar o ID do aluno -->
                            <input type="hidden" name="idAluno" th:value="${aluno.idAluno}" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Botão para enviar a presença após validação -->
            <button type="submit">Enviar Presença</button>
        </form>
    </div>
    
    <script>
        function validarPresenca() {
            // Seleciona todos os radio buttons de presença
            const radioButtons = document.querySelectorAll('.radio');
            
            let algumSelecionado = false;

            radioButtons.forEach(radio => {
                if (radio.checked) {
                    algumSelecionado = true;
                }
            });

            // Verifica se pelo menos um radio button foi selecionado
            if (algumSelecionado) {
                return true;
            } else {
                alert("Selecione a presença para pelo menos um aluno.");
                return false;
            }
        }
    </script>
</body>
</html>
