<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associar Aluno à Turma</title>
</head>
<body>
    <h2>Associar Aluno à Turma</h2>
    <form action="/associarAlunoTurma" method="post">
        <label for="idTurma">ID da Turma:</label><br>
        <input type="text" id="idTurma" name="idTurma"><br>
        
        <label for="idAluno">ID do Aluno:</label><br>
        <input type="text" id="idAluno" name="idAluno"><br>
        
        <button type="submit">Associar Aluno à Turma</button>
    </form>
</body>
</html>
