<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Corrija os caminhos dos arquivos CSS e JS conforme necessário -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <!-- Corrija o link para apontar para a página correta de login -->
    <a href="./login.html">Admin</a>
</body>
</html>
