<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inserir Presença</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Inserir Presença</h1>
        <form action="/inserirIdTurma" method="POST">
            <label for="idTurma">ID da Turma:</label>
            <input type="text" id="idTurma" name="idTurma" required>
            <button type="submit">Mostrar Alunos</button>
        </form>
    </div>
</body>
</html>
